@use '../abstracts/' as *;

// Base Button Styling
.btn {
	display: inline-block;
	font-weight: 700;
	border-radius: 2.8rem;
	border: none;
	&:hover,
	&:focus {
		cursor: pointer;
	}
}

// btn placeholder
%btn {
	padding: 2rem 4rem;
}

// BUTTON STYLES

// First Button
.btn--primary {
	max-width: 20rem;
	padding: 1rem 2.4rem;
	background: $colour-2;
	border: 2px solid $colour-2;
	border-radius: 0.4rem;
	font-family: 'DM Sans', sans-serif;
	color: $colour-3;
	font-size: 1.5rem;
	line-height: 2.2rem;
	font-weight: 700;
	letter-spacing: -0.2px;
	cursor: pointer;
	&:hover {
		background: $colour-4;
		color: $colour-1;
	}
}

// Second Button

.btn--secondary {
	// &:hover,
	// &:focus {

	// }
	// @extend %btn;
}

// Third Button
.btn--tertiary {
	// &:hover,
	// &:focus {

	// }
}

// Button Sizes

// Desktop Button
.btn--desktop {
	width: 17.1rem;
	height: 5.6rem;
	margin: 0 auto;
	// padding: 1.4rem 4.1rem;
	font-size: 1.6rem;
}
