@use './breakpoints' as *;


// Font
$font-header: 'DM Sans', sans-serif;
$font-body: 'Inter', sans-serif;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

// Colour
$colour-1: #1a1a1a;
$colour-2: #000000;
$colour-3: #ffffff;
$colour-4: #36db93;

h1,
h2,
h3,
h4 {
	font-family: $font-body;
	color: $colour-1;
}

h1 {
	font-size: 5.5rem;
	@include breakpoint(small) {
		font-size: 3rem;
	}
}

p {
	font-size: 1.8rem;
	@include breakpoint(small) {
		font-size: 1.6rem;
	}
}

// Site Paddings
$site-padding-xl: 10rem 15rem;
$site-padding-l: 15rem 10rem;
$site-padding-ls: 10rem 10rem;
$site-padding-m: 5rem 10rem;
$site-padding-ms: 5rem 5rem;

$site-padding: 5rem 2.5rem;

$mobile-padding: 10rem 5rem;

// Content Padding
$p-top-l: 2rem;
$p-top-m: 1.5rem;

$no-paading-top: 0rem;

$p-bottom-xl: 5rem;
$p-bottom-l: 2rem;
$p-bottom-m: 1.5rem;

$m-top-xl: 5rem;
$m-bottom-l: 4rem;
$m-bottom-s: 3rem;

// Text
$bold-text: 600;

$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);

$border-radius: 5px;

@mixin container {
	margin: 0 auto;
	max-width: 100%;
	overflow: hidden;
	width: 1440px;
	padding: 0 2rem;
}
